* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-principal: #f6f6f6;
    --cor-secundaria: #000000;
    --cor-destaque: #5948FF;

    --font-family-main: "Inter", sans-serif;
    --font-family-secondary: "Inter Tight", sans-serif;
}

body {
    font-family: var(--font-family-main);
}

header {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    font-weight: 300;
    padding: 20px;
    width: 100%;
}

header a {
    text-decoration: none;
    color: var(--cor-destaque);
}

.texto-principal {
    font-size: 5vw;
    font-weight: 800;
    padding: 200px 80px;
    font-family: var(--font-family-secondary);
}

.texto-principal span {
    font-weight: 200;
}

.sobre-mim {
    display: flex;
    font-size: 50px;
    font-weight: 300;
    letter-spacing: -1px;
    align-items: center;
    padding: 100px;
    width: 100%;
}

.sobre-mim .sobre-principal {
    width: 45%;
}

.sobre-mim .sobre-texto {
    text-align: right;
    margin-left: 40%;
}

.linha {
    letter-spacing: -8px;
}

.texto-cinza {
    color: #545454;
    font-weight: 300;
}

.texto-roxo {
    color: var(--cor-destaque);
}

.title-portfolio,
.title-ferramentas {
    padding: 80px;
    text-align: center;
    font-family: var(--font-family-main);
    font-size: 50px;
}

hr {
    height: 5px;
    background-color: #000;
    border: none; 
    width: 100%; 
}

.portfolio {
    display: flex;
    gap: 15px;
    font-size: 1em;
    color: #545454;
    font-family: var(--font-family-secondary);
    font-weight: 100;
    text-align: left;
    align-items: center;
    justify-content: center;
}

.lado-esquerdo {
    text-align: right;
}

.ferramentas {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 30px;
}

.after-efects {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 10px;
    text-align: right;
}

.after-efects img {
    width: 65px;
}

.ferramentas p {
    width: 500px;
    padding: 20px;
}

.info {
    background-color: var(--cor-secundaria);
    color: var(--cor-principal);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 200px;
}

.title-info {
    align-self: center;
    padding: 40px;
    font-size: 3em;
    text-align: left;
    font-weight: 100;
}

.title-info span {
    font-weight: 800;
}

.itens-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    min-width: 40vw;
    max-width: 60vw;
    margin: 0 auto;
}

.info-baixo,
.info-cima {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    font-size: 1.8em;
    text-align: center;
}

.info-baixo div{
    background-color: var(--cor-principal);
    color: var(--cor-secundaria);
    margin: 20px 0px;
    border-radius: 20px;
    box-shadow: var(--cor-destaque) 5px 9px;
    padding: 25px;
}

.eficacia {
    width: 70%;
    background-color: var(--cor-principal);
    color: var(--cor-secundaria);
    border-radius: 20px;
    height: 420px;
    box-shadow: var(--cor-destaque) 5px 9px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    text-align: left;
    font-weight: 200;
}

.eficacia-text {
    margin-top: 30px;
    margin-left: -50px;
}

.eficacia-text  h2 {
    font-weight: 400;
    font-size: 3vw;
}

.eficacia-text p {
    font-size: 0.8em;
    font-weight: 300;
    margin-top: 20px;
    color: #545454;
}

.cima-juntos {
    width: 40%;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.cima-juntos div {
    background-color: var(--cor-principal);
    color: var(--cor-secundaria);
    border-radius: 20px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 30px;
    box-shadow: var(--cor-destaque) 5px 9px;
}

.eficacia-img {
    margin-left: -300px;
    margin-top: 80px;
}

.cima-juntos div p {
    font-size: 2em;
    font-weight: 600;
}

.projetos {
    width: 35%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 40px;
    font-weight: 200;
    font-size: 1.2em;
}

.projetos p {
    font-size: 3em;
    font-weight: 600;
}

.texto-na-info {
    width: 65%;
    height: 300px;
}

.texto-na-info h2 {
    font-size: 1.8vw;
    font-weight: 200;
    text-align: left;
}

.texto-na-info h2 span {
    font-weight: 800;
}

.texto-na-info p {
    margin-top: 10px;
    font-size: 1.1vw;
    text-align: left;
}

.contato {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2em;
}

.redes {
    display: flex;
    gap: 400px;
    margin-top: 100px;
}

.redes a {
    text-decoration: none;
    color: white;
}

dialog:not([open]) {
    display: none;
}

dialog[open] {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 30vw;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

dialog::backdrop {
    background-color: rgb(0 0 0/0.8);
}

dialog iframe  {
    border-radius: 10px;
    width: 80%;
}

dialog h3 {
    margin-top: 40px;
    background-color: var(--cor-destaque);
    padding: 5px;
    color: white;
    font-size: 20px;
    border-radius: 10px;
}

.dialog-titulo {
    color: white;
    background-color: var(--cor-secundaria);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.informacoes-modal {
    width: 100%;
    font-weight: 700;
}

.informacoes-modal ul li {
    display: flex;
    justify-content: space-between;
    font-size: 2.3vh;
} 

.informacoes-modal ul li span {
    margin-right: 40px;
}

.informacoes-modal ul li p .linha {
    font-weight: 100;
    margin-right: 20px;
}

.informacoes-modal ul hr {
    height: 2px;
    margin: 40px 0px;
}

.image-wrapper {
    position: relative;
    display: inline-block; 
    max-width: 100%;
}

.image-wrapper img {
    width: 100%;
    height: auto;
    display: block;
}

.image-wrapper .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
}

.image-wrapper:hover .overlay {
    opacity: 1;
}

.lado-esquerdo p,
.lado-direito p {
    margin-top: 5px; 
}

.close-modal {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: white;
    padding: 5px;
}

